<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
<!-- main photo -->
<section class="text-center pt-5">
  <div class="spokane-img">
    <h1>CRU SPOKANE</h1>
    <h2>Do Life Together!</h2>
  </div>
  <p class="mission lead">Cru City Spokane is a community of people who believe in the importance of integrating our personal, professional and spiritual lives.</p>
  <p class="lead">Cru comes alongside people on their spiritual journey and offers resources to help men and women investigate what they believe spiritually and why. We offer one-on-one coaching, personal discipleship, study groups and leadership development from a Christian worldview.</p>
</section>
<!-- main photo end -->

<main class="main" role="main">
  <section class="featured-stories">
    <div class="banner-featured-stories">
      <h2>Featured Stories</h2>
    </div>
    <section class="stories">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-3">
            <div class="card border-0">
              <img class="card-img-top img-fluid" src="img/BRIANTHRUSHANDNOEL2.jpeg" alt="Brian Thrush and Noel">
              <p class="card-text">"Cru Spokane has discipled me in such a way that I now know how to disciple others. You have..."</p>
              <p>Brian - October 2018 - 3 minute read.</p>
              <div class="m-auto"><a class="read-more-btn btn border-4" href="brian-thrush.html">Read more</a></div>
              <hr>
              <p class="text-center pt-0 pb-0 mb-0">October 18, 2018</p>
              <hr>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card border-0">
              <img class="card-img-top img-fluid" src="img/4.jpeg" alt="Cindy Cinatra">
              <p class="card-text">"From what I learned from Cru, I was able to have an amazing conversation with my mom. I asked her..."</p>
              <p>Cindy - January 2019 - 3 minute read.</p>
              <div class="m-auto"><a class="read-more-btn btn border-4" href="cindy-cenatra.html">Read more</a></div>
              <hr>
              <p class="text-center pt-0 pb-0 mb-0">January 11, 2019</p>
              <hr>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="card border-0">
              <img class="card-img-top img-fluid" src="img/Chad.png" alt="Rodgers Family">
              <p class="card-text">"Your teaching me to spiritually breathe has been ground breaking in my walk with God - ...</p>
              <p>Chad - March 2020 - 4 minute read.</p>
              <div class="m-auto"><a class="read-more-btn btn border-4" href="chad.html">Read more</a></div>
              <hr>
              <p class="text-center pt-0 pb-0 mb-0">March 3, 2020</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
<%- include('includes/footer.ejs') %>
